<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut icon" href="/assets/img/logopaybot.png" type="image/x-icon">

    <title>PayBot - About</title>
</head>
<body>
    {{ template "navbar.html" }}
    <div class="container mt-4">
        <h1>O que é o PayBot 💰?</h1>
        <p>PayBot é um bot do telegram para vendas automaticas criado por H1000 e H4xx7.</p>
        <p>O grande diferencial de PayBot é o modernismo, com um dashboard 100% na web.</p>
        <h1>Vale apenas escolher o PayBot 💰?</h1>
        <h3>A resposta é sim!</h3>
        <p>O PayBot é um dos mais baratos, praticos e com um otimo suporte</p>
        <h1>Bancos</h1>
        <h3>PayBot tem suporte a todos os bancos?</h3>
        <p>Infelizmente só temos suporte ao Mercado Pago(PIX) e pagamentos com BitCoin.</p>
        <ul>Novos metodos de pagamentos seram adicionados em breve</ul>
        <a href="https://t.me/zapysbotpix" class="btn btn-info text-dark">Grupo Oficial🚀</a>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>

</html>