<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/img/logopaybot.png" type="image/x-icon">
    <link rel="stylesheet" href="/assets/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>PayBot - Home</title>
</head>
<body>
    {{ template "navbar.html" }}
    <div class="container mt-4">
        <h1>Bem-vindo ao PayBot 💰</h1>
        <p>PayBot é o melhor bot do Telegram pelos seguintes motivos:</p>
        <h2>Por que escolher o PayBot?</h2>
        <ul>
          <li>Automático</li>
          <li>Seguro</li>
          <li>Rápido</li>
          <li>Simples</li>
          <li>Suporte 24h</li>
          <li>Gerenciamento WEB</li>
          <li>Auto Hospedagem</li>
          <li>Atualizações automáticas de inventário</li>
          <li>Notificações em tempo real para novas ofertas</li>
          <li>Recursos de segurança avançados</li>
          <li>Facilidade de uso para usuários de todas as idades</li>
        </ul>
        <a href="/about" class="btn btn-info text-dark">Saber mais🚀</a>
      </div>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>